{{question-details question=model destroyQuestion="destroyQuestion"}}

<div>
  {{#each model.answers as |answer|}}
    {{answer.answer}} - answered by <strong>{{answer.answerAuthor}}</strong>
  {{/each}}
</div>

{{new-answer question=model saveAnswer="saveAnswer"}}

{{update-question question=model update="update"}}
