{{question-details question=model destroyQuestion="destroyQuestion"}}

<div class="container">
  {{#each model.answers as |answer|}}
  <div class="row">
    <div class="col-xs-6">
    {{answer.answer}}
    </div>
    <div class="col-xs-6">
    - answered by <strong>{{answer.answerAuthor}}</strong>

    </div>
    <br>
    <br>
  </div>

    {{answer.upvote}}

    <button class="btn btn-success" {{action "upvote" answer}}></button>

    {{answer.downvote}}

    <button class="btn btn-warning" {{action "downvote" answer}}></button>


    {{answer.wipeVote}}

    <button class="btn btn-danger" {{action "wipeVote" answer}}></button>
  {{/each}}
</div>


{{new-answer question=model saveAnswer="saveAnswer"}}

{{update-question question=model update="update"}}
